@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'One';
  src: url('./assets/fonts/ONEMobileOTFRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Adream4';
  src: url('./assets/fonts/adream4.otf') format('opentype');
}
